---
layout: default
title: Random recipes
---

{% assign week = site.time | date: "W%W-%Y" %}
{%- comment -%}Find recipes from current week{%- endcomment -%}
{% assign randomRecipes = '' | split: '' %}
{% for val in site.data.weeks %}
{% if val[0] == week %}
{% for recName in val[1] %}
  {% assign recipe = site.data.recipes | where: "name", recName.name %}
  {% assign randomRecipes = randomRecipes | concat: recipe %}
{% endfor %}
{% endif %}
{% endfor %}

<h1 class="title has-text-centered">{{week}}</h1>
<div class="container">
{% for recipe in randomRecipes %}
<div class="card m-4">
  <div class="card-image">
    <figure class="image is-4by3">
      <img style="object-fit: cover;" src="{{recipe.image}}" alt="Image of {{recipe.name}}">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{recipe.name}}</p>
      </div>
    </div>

    <div class="content">
      {{recipe.ingredients}}
    </div>
  </div>
</div>
{% endfor %}
</div>
